.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);
  padding-bottom: 376px;
  margin-left: 0px;

  .header {
    background-color: #FFFFFF;
    height: 100px;

    .rectangle {
      padding-top: 23px;
      padding-bottom: 23px;
      width: floor($number: 0);
      opacity: 0.98;
      box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.14);
    }

    .robosoft-logo-horizontal-img-r {
      height: 54px;
      width: 280px;
      margin-left: 130px;
    }
  }

  .loginBox {
    height: 145px;
    width: 563px;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    margin-top: 324px;
    margin-left: 438px;
    margin-right: 437px;
    border-radius: 20px;
    padding-top: 55px;
    padding-right: 0px;

    .message {
      height: 19px;
      width: 461px;
      color: #000000;
      font-family: sans-serif;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 19px;
      margin-left: 56px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 0px;
    }

    .btn-fab {
      height: 48px;
      width: 149px;
      background-color: #D92756;
      margin-left: 207px;
      margin-top: 23px;
      color: white;
      //  font-family: Roboto;
      font-size: 14px;
      border-radius: 25px;
      border-color: transparent;
      outline: none;
      box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);

    }
  }
}
