<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">


<div class="container">
  <div class="header">
    <div class="rectangle">
      <img class="robosoft-logo-horizontal-img-r" src="../../../assets/Robosoft_logo_horizontal.png" alt="">
    </div>
  </div>
  <div class="loginBox">
    <p class="message" style="font-family: Roboto;">Check your email. We have sent a link to update your password</p>
    <a routerLink="/change-password">
      <button class="btn-fab" style="font-family: Roboto;">Ok</button>
    </a>
  </div>
</div>
