<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" type="text/css">

<div class="container">
  <div class="header">
    <div class="rectangle">
      <img class="robosoft-logo-horizontal-img-r" src="../../../assets/Robosoft_logo_horizontal.png" alt="">
    </div>
  </div>
  <div class="loginBox">

    <h1 class="login" style="font-family: Inter;">Change Password</h1>

    <div class="user-input-wrp">
      <input type="password" class="inputText" style="font-family: Roboto;" required />
      <span class="floating-label" style="font-family: Roboto;">Enter New Password</span>
    </div>

    <div class="user-input-wrp2">
      <input type="password" class="inputText" style="font-family: Roboto;" required />
      <span class="floating-label" style="font-family: Roboto; ">Re - Enter New Password</span>
    </div>
    <a routerLink='/login'>
      <button class="btn-fab" style="font-family: Roboto;">Update</button>
    </a>
  </div>
</div>
