.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);
  padding-bottom: 376px;
  margin-left: 0px;

  .header {
    background-color: #FFFFFF;
    height: 100px;

    .rectangle {
      padding-top: 23px;
      padding-bottom: 23px;
      width: floor($number: 0);
      opacity: 0.98;
      box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.14);
    }

    .robosoft-logo-horizontal-img-r {
      height: 54px;
      width: 280px;
      margin-left: 130px;
    }
  }

  .changePasswordBox {
    height: 385px;
    width: 535px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-top: 277px;
    margin-left: 453px;
    margin-right: 453px;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);

    .login {
      height: 29px;
      width: 209px;
      color: #000000;
      font-size: 22.5px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 29px;
      margin-left: 163px;
      padding-top: 44px;
      margin-bottom: 0%;
    }

    // inputBox1

    .user-input-wrp {
      position: relative;
      width: 50%;
    }

    .user-input-wrp .inputText {
      width: 312px;
      height: 56px;
      margin-left: 104px;
      margin-top: 20px;
      outline: none;
      border: 1px solid #979797;
      border-radius: 4px;
      padding-left: 16px;
      font-size: 16px;
    }

    .user-input-wrp .inputText:focus {
      border: 1px solid #979797;
      width: 312px;
      height: 56px;
      border-width: 1px;
      padding-left: 16px;
      font-size: 16px;
      color: black;
    }

    .user-input-wrp .floating-label {
      position: absolute;
      pointer-events: none;
      top: 40px;
      left: 120px;
      transition: 0.2s ease all;
      color: #979797;
    }

    .user-input-wrp input:focus~.floating-label,
    .user-input-wrp input:not(:focus):valid~.floating-label {
      width: 112px;
      height: 24px;
      padding-left: 2px;
      background-color: white;
      color: #979797;
      top: 10px;
      left: 115px;
      z-index: 999;
      font-size: 12px;
      opacity: 1;
    }

    // inputBox2

    .user-input-wrp2 {
      position: relative;
      width: 50%;
    }

    .user-input-wrp2 .inputText {
      width: 312px;
      height: 56px;
      margin-left: 104px;
      margin-top: 20px;
      outline: none;
      border: 1px solid #979797;
      border-radius: 4px;
      padding-left: 16px;
      font-size: 16px;
    }

    .user-input-wrp2 .inputText:focus {
      border: 1px solid #979797;
      width: 312px;
      height: 56px;
      border-width: 1px;
      padding-left: 16px;
      font-size: 16px;
      color: black;
    }

    .user-input-wrp2 .floating-label {
      width: 190px;
      position: absolute;
      pointer-events: none;
      top: 40px;
      left: 120px;
      transition: 0.2s ease all;
      color: #979797;
    }

    .user-input-wrp2 input:focus~.floating-label,
    .user-input-wrp2 input:not(:focus):valid~.floating-label {
      width: 135px;
      height: 24px;
      padding-left: 2px;
      background-color: white;
      color: #979797;
      top: 10px;
      left: 115px;
      z-index: 999;
      font-size: 12px;
      opacity: 1;
    }

    // button & forgot password

    .btn-fab {
      height: 48px;
      width: 149px;
      background-color: #D92756;
      margin-left: 193px;
      margin-top: 20px;
      color: white;
      font-size: 14px;
      border-radius: 25px;
      letter-spacing: 1px;
      border-color: transparent;
      outline: none;
      box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
