<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

<div class="container">
  <div class="header">
    <div class="rectangle">
      <img class="robosoft-logo-horizontal-img-r" src="../../../assets/Robosoft_logo_horizontal.png" alt="">
    </div>
  </div>

  <div class="container">

    <div class="homeScreen">

      <div class="box">
        <div class="box1"></div>
        <div class="box2">
          <div class="left">
            <div class="rectangle1">
              <p class="questionnaire" style="font-family: Roboto;">Questionnaire</p>

              <div class="field1">
                <div class="inputBox1">
                  <input type="text" class="inputText" style="font-family: Roboto;" required />
                  <span class="floating-label" style="font-family: Roboto;">Enter Title</span>
                </div>
                <p class="title" style="font-family: Roboto;">Please enter appropriate title</p>
              </div>

              <div class="field2">
                <div class="inputBox2">
                  <input type="text" class="inputText" style="font-family: Roboto;" required />
                  <span class="floating-label" style="font-family: Roboto;">Description</span>
                </div>
              </div>

              <div class="field3">
                <div class="field31">
                  <div class="inputBox31">
                    <input type="text" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Button Title</span>
                  </div>
                </div>

                <div class="field32">
                  <div class="inputBox32">
                    <input type="text" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Button Text</span>
                  </div>
                </div>

              </div>

              <div class="field4">
                <div class="inputBox4">
                  <input type="text" class="inputText" style="font-family: Roboto;" required />
                  <span class="floating-label" style="font-family: Roboto;">Check box text</span>
                </div>
              </div>

            </div>
            <div class="rectangle2"></div>
          </div>

          <div class="rectangle3">
            <div class="leftBar"></div>
          </div>

        </div>
      </div>

      <div class="footer">
        <div class="rectangle">
          <div class="robosoft-copyright">
            <p class="copyright">Robosoft. Copyright © 2020. All rights reserved.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>



<!--
  .inputBox1 {
  position: relative;
  width: 50%;
}

.inputBox1 .inputText {
  width: 312px;
  height: 56px;
  margin-left: 104px;
  margin-top: 20px;
  outline: none;
  border: 1px solid #979797;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 16px;
}

.inputBox1 .inputText:focus {
  border: 1px solid #979797;
  width: 312px;
  height: 56px;
  border-width: 1px;
  padding-left: 16px;
  font-size: 16px;
  color: black;
}

.inputBox1 .floating-label {
  position: absolute;
  pointer-events: none;
  top: 40px;
  left: 120px;
  transition: 0.2s ease all;
  color: #979797;
}

.inputBox1 input:focus~.floating-label,
.inputBox1 input:not(:focus):valid~.floating-label {
  width: 88px;
  height: 24px;
  padding-left: 2px;
  background-color: white;
  color: #979797;
  top: 10px;
  left: 115px;
  z-index: 999;
  font-size: 12px;
  opacity: 1;
} 
-->
