@mixin title {
  height: 24px;
  width: 170px;
  opacity: 0.87;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 24px;
  margin-bottom: 0px;
}

@mixin field {
  height: 84px;
  width: 580px;
}

@mixin arrow {
  height: 24px;
  width: 24px;
  margin-left: 24px;
  margin-top: 12px;
}

// left-side-blocks

@mixin block {
  margin-top: 20px;
  margin-left: 20px;
  height: 48px;
  width: 240px;
  display: flex;

  .text1 {
    height: 24px;
    width: 168px;
    opacity: 0.87;
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 24px;
    margin-left: 12px;
    margin-top: 12px;
  }

  .arrow {
    @include arrow();
  }
}

// right-side-blocks

@mixin right-block {
  height: 48px;
  width: 200px;
  background-color: #FDF4F6;
  display: flex;

  .image {
    height: 24px;
    width: 24px;
    margin-top: 12px;
    margin-left: 12px;
  }

  .text {
    height: 16px;
    width: 104.83px;
    color: #D92756;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 16px;
    margin-top: 16px;
    margin-left: 12px;
  }
}

@mixin block-options {
  height: 33.6px;
  width: 194.6px;
  padding: 0px;
  border: 0px;
  position: 0;
  background-color: #FDF4F6;
  color: #D92756;
  font-size: 9.8px;
  font-weight: 500;
  letter-spacing: 0.88px;
  line-height: 11.2px;
  text-align: center;
  border-radius: 24px;
  outline: none;
}

@mixin button {
  height: 51px;
  width: 51px;
  background-color: #D92756;
  margin-left: 20px;
  margin-top: 0px;
  color: white;
  font-size: 30px;
  border-radius: 50px;
  outline: none;
  padding: 0px;
  border: 0px;

  .icon {
    height: 20px;
    width: 20px;
    padding-left: 2px;
  }
}

// Add/Remove Super Admins fields

@mixin fields {
  height: 56px;
  width: 208px;
  border: 1px solid #9E9E9E;
  border-radius: 4px;

  .detail {
    height: 19px;
    width: 174.72px;
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    margin-top: 19px;
    margin-left: 18.18px;
  }
}

@mixin update-close {
  height: 49px;
  width: 129px;
  border: 0px;
  padding: 0px;
  background-color: #D92756;
  margin-top: 0px;
  color: white;
  font-size: 14px;
  border-radius: 25px;
  letter-spacing: 1px;
  border-color: transparent;
  outline: none;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
}

@mixin details {
  width: 902px;
  height: 56px;
  margin-left: 61px;
  display: flex;

  .field1 {
    @include fields();
  }

  .field2 {
    @include fields();
    margin-left: 19.5px;
  }

  .field3 {
    height: 56px;
    width: 305px;
    margin-left: 19px;
    border: 1px solid #9E9E9E;
    border-radius: 4px;

    .mail {
      height: 19px;
      width: 256.2px;
      color: #000000;
      font-family: Roboto;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 19px;
      margin-top: 19px;
      margin-left: 18.18px;
    }
  }

  .btn-fab1 {
    @include button();
  }

  .btn-fab2 {
    @include button();
  }
}

@mixin calendar {
  width: 32px;
  height: 25px;
  background-color: white;
  top: -42px;
  margin-left: 146px;
  position: relative;
}

@mixin admin {
  height: 584px;
  width: 1034px;
  position: absolute;
  z-index: -5;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #FFFFFF;
  margin-left: 244px;
  margin-top: 277px;

  .close {
    width: 32px;
    height: 27px;
    margin-top: 18px;
    margin-left: 991px;
  }

  .text {
    height: 28px;
    width: 297px;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
    margin-left: 61px;
    margin-top: 20px;
  }

  .block1 {
    height: 75px;
    width: 835px;
    margin-left: 60px;
    margin-top: 32px;
    display: flex;

    .box1 {
      height: 75px;
      width: 209px;

      .inputBox11 {
        position: relative;
        width: 50%;
      }

      .inputBox11 .inputText {
        height: 56px;
        width: 190px;
        padding-left: 16px;
        border-radius: 4px;
        border-color: rgba(0, 0, 0, 0.38);
        outline: none;
        border: 1px solid #9E9E9E;
        font-size: 16px;
      }

      .inputBox11 .inputText:focus {
        border: 1px solid #9E9E9E;
        height: 56px;
        width: 190px;
        padding-left: 16px;
        border-width: 1px;
        font-size: 16px;
        color: black;
      }

      .inputBox11 .floating-label {
        position: absolute;
        pointer-events: none;
        top: 21px;
        left: 20px;
        transition: 0.2s ease all;
        font-size: 16px;
        color: #979797;
      }

      .inputBox11 input:focus~.floating-label,
      .inputBox11 input:not(:focus):valid~.floating-label {
        width: 66px;
        height: 24px;
        padding-left: 2px;
        background-color: white;
        color: #979797;
        top: -9px;
        left: 15px;
        font-size: 12px;
        opacity: 1;
      }
    }

    .box2 {
      height: 75px;
      width: 209px;
      margin-left: 20px;

      .inputBox12 {
        position: relative;
        width: 50%;
      }

      .inputBox12 .inputText {
        height: 56px;
        width: 190px;
        padding-left: 16px;
        border-radius: 4px;
        border-color: rgba(0, 0, 0, 0.38);
        outline: none;
        border: 1px solid #9E9E9E;
        font-size: 16px;
      }

      .inputBox12 .inputText:focus {
        border: 1px solid #9E9E9E;
        height: 56px;
        width: 190px;
        padding-left: 16px;
        border-width: 1px;
        font-size: 16px;
        color: black;
      }

      .inputBox12 .floating-label {
        width: 200px;
        position: absolute;
        pointer-events: none;
        top: 21px;
        left: 20px;
        transition: 0.2s ease all;
        font-size: 16px;
        color: #979797;
      }

      .inputBox12 input:focus~.floating-label,
      .inputBox12 input:not(:focus):valid~.floating-label {
        width: 116px;
        height: 24px;
        padding-left: 2px;
        background-color: white;
        color: #979797;
        top: -9px;
        left: 15px;
        font-size: 12px;
        opacity: 1;
      }
    }

    .box3 {
      height: 75px;
      width: 306px;
      margin-left: 20px;

      .inputBox13 {
        position: relative;
        width: 306px;
      }

      .inputBox13 .inputText {
        height: 56px;
        width: 286px;
        padding-left: 16px;
        border-radius: 4px;
        border-color: rgba(0, 0, 0, 0.38);
        outline: none;
        border: 1px solid #9E9E9E;
        font-size: 16px;
      }

      .inputBox13 .inputText:focus {
        border: 1px solid #9E9E9E;
        height: 56px;
        width: 286px;
        padding-left: 16px;
        border-width: 1px;
        font-size: 16px;
        color: black;
      }

      .inputBox13 .floating-label {
        width: 200px;
        position: absolute;
        pointer-events: none;
        top: 21px;
        left: 20px;
        transition: 0.2s ease all;
        font-size: 16px;
        color: #979797;
      }

      .inputBox13 input:focus~.floating-label,
      .inputBox13 input:not(:focus):valid~.floating-label {
        width: 70px;
        height: 24px;
        padding-left: 2px;
        background-color: white;
        color: #979797;
        top: -9px;
        left: 15px;
        font-size: 12px;
        opacity: 1;
      }
    }

    .btn-fab {
      height: 51px;
      width: 51px;
      background-color: #D92756;
      margin-left: 20px;
      margin-top: 0px;
      color: white;
      font-size: 30px;
      border-radius: 50px;
      outline: none;
      padding: 0px;
      border: 0px;
    }
  }

  .bar {
    box-sizing: border-box;
    height: 2px;
    width: 1034px;
    border: 1px dashed #A2A2A2;
    opacity: 0.6;
    margin-top: 14px;
  }

  .block2 {
    margin-top: 25px;
    @include details();
  }

  .buttons {
    margin-left: 538px;
    height: 49px;
    margin-top: 59px;

    .update {
      margin-left: 0px;
      @include update-close();
    }

    .close {
      margin-left: 32px;
      @include update-close();
    }
  }
}

@mixin element51 {
  height: 84px;
  width: 180px;

  .inputBox51 {
    position: relative;
    width: 50%;
  }

  .inputBox51 .inputText {
    height: 56px;
    width: 164px;
    padding-left: 16px;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.38);
    margin-top: 9px;
    outline: none;
    border: 1px solid #979797;
    font-size: 16px;
  }

  .inputBox51 .inputText:focus {
    border: 1px solid #979797;
    height: 56px;
    width: 164px;
    padding-left: 16px;
    border-width: 1px;
    font-size: 16px;
    color: black;
  }

  .inputBox51 .floating-label {
    width: 92px;
    height: 24px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 17px;
    transition: 0.2s ease all;
    font-size: 12px;
    color: #979797;
  }

  .inputBox51 input:focus~.floating-label,
  .inputBox51 input:not(:focus):valid~.floating-label {
    width: 92px;
    height: 24px;
    background-color: white;
    color: #979797;
    top: 0px;
    left: 17px;
    font-size: 12px;
    opacity: 1;
  }
}

// Options

.options {
  height: 136px;
  width: 198px;
  margin-left: 1130px;
  margin-top: 838px;
  z-index: 1;
  position: absolute;

  .block1 {
    @include block-options();
  }

  .block2 {
    @include block-options();
    margin-top: 15.4px;
  }

  .block3 {
    @include block-options();
    margin-top: 15.4px;
  }

  .btn-fab {
    height: 51px;
    width: 51px;
    background-color: #D92756;
    color: white;
    font-size: 30px;
    border-radius: 25px;
    outline: none;
    padding: 0px;
    border: 0px;
    margin-left: 145px;
    margin-top: 26px;

    img{
      width: 25px;
      height: 25x;
      padding-top: 6px;
      padding-left: 1px;
    }
  }
}

// Screen

.screen {
  width: 1440px;
  height: 1138px;
  background-color: gray;
  opacity: 0.5;
  margin-left: 38px;
  z-index: 3;
  position: absolute;
}

//Add/Remove Admins

.admin {
  @include admin();
}

// Add/Remove Super Admins

.superAdmin {
  @include admin();
}

// Container

.container {
  background-color: #F7F7F7;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;

  // Header

  .header {
    background-color: #FFFFFF;
    height: 100px;
    width: 1440px;
    margin-left: 38px;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.14);

    .rectangle1 {
      padding-top: 23px;
      padding-bottom: 23px;
      width: floor($number: 0);
      opacity: 0.98;
      box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.14);
    }

    .robosoft-logo {
      height: 54px;
      width: 280px;
      margin-left: 130px;
      position: absolute;
      z-index: 50;
    }

    .userProfile {
      height: 44px;
      width: 123px;
      margin-left: 1187px;
      display: flex;

      .username {
        height: 24px;
        width: 69px;
        opacity: 0.87;
        color: #000000;
        font-size: 16px;
        letter-spacing: 0.15px;
        line-height: 24px;
        margin-top: 11px;
      }
      
      .userIcon{
        box-sizing: border-box;
        height: 44px;
        width: 44px;
        border: 2px solid #D92756;
        border-radius: 50px;
        margin-left: 10px;
      }
    }
  }

  // Home-Screen

  .container {
    margin-top: 13px;
    background-color: #F7F7F7;
    width: 1440px;
    height: 1025px;
    margin-left: 38px;

    .homeScreen {
      height: 981px;

      .box {
        display: flex;
        padding-top: 7px;

        .box1 {
          height: 476px;
          width: 280px;
          margin-left: 130px;
          border-radius: 20px;
          background-color: #FFFFFF;
          box-shadow: 0 4px 40px 0 rgba(217, 39, 86, 0.08);

          .yourQuestionnaires {
            height: 56px;
            width: 161px;
            opacity: 0.87;
            color: #000000;
            font-size: 24px;
            letter-spacing: 0;
            line-height: 28px;
            margin-top: 18px;
            margin-left: 26px;
          }

          .btn-fab {
            height: 49px;
            width: 240px;
            background-color: #D92756;
            margin-left: 20px;
            margin-top: 21px;
            color: white;
            font-size: 14px;
            border-radius: 25px;
            letter-spacing: 1px;
            border-color: transparent;
            outline: none;
            box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
          }

          .block1 {
            height: 48px;
            width: 240px;
            border-radius: 24px;
            background-color: rgba(217, 39, 86, 0.05);
            margin-left: 20px;
            margin-top: 40px;

            .label {
              height: 24px;
              width: 178px;
              padding-left: 12px;
              padding-top: 12px;
              opacity: 0.87;
              color: #000000;
              font-size: 16px;
              letter-spacing: 0.15px;
              line-height: 24px;
            }
          }

          .block2 {
            @include block();
          }

          .block3 {
            @include block();
          }

          .block4 {
            @include block();
          }
        }

        .box2 {
          height: 952px;
          width: 880px;
          margin-left: 20px;
          border-radius: 20px;
          background-color: #FFFFFF;
          box-shadow: 0 4px 40px 0 rgba(217, 39, 86, 0.08);
          display: flex;

          .left {
            display: block;
            height: 915px;
            width: 580px;
            margin-top: 20px;
            margin-left: 20px;
            margin-bottom: 17px;

            .rectangle1 {
              height: 485px;
              width: 580px;

              .questionnaire {
                @include title();
              }

              .field1 {
                @include field();
                margin-top: 25px;

                .inputBox1 {
                  position: relative;
                  width: 50%;
                }

                .inputBox1 .inputText {
                  height: 56px;
                  width: 559px;
                  padding-left: 16px;
                  border-radius: 4px;
                  border-color: rgba(0, 0, 0, 0.38);
                  margin-top: 9px;
                  outline: none;
                  border: 1px solid #979797;
                  font-size: 16px;
                }

                .inputBox1 .inputText:focus {
                  border: 1px solid #979797;
                  height: 56px;
                  width: 559px;
                  padding-left: 16px;
                  border-width: 1px;
                  font-size: 16px;
                  color: black;
                }

                .inputBox1 .floating-label {
                  position: absolute;
                  pointer-events: none;
                  top: 30px;
                  left: 20px;
                  transition: 0.2s ease all;
                  font-size: 16px;
                  color: #979797;
                }

                .inputBox1 input:focus~.floating-label,
                .inputBox1 input:not(:focus):valid~.floating-label {
                  width: 56px;
                  height: 24px;
                  padding-left: 2px;
                  background-color: white;
                  color: #979797;
                  top: 0px;
                  left: 15px;
                  font-size: 12px;
                  opacity: 1;
                }

                .title {
                  font-size: 13px;
                  margin-left: 17px;
                  color: #979797;
                }
              }

              .field2 {
                height: 130px;
                width: 580px;
                margin-top: 18px;

                .inputBox2 {
                  position: relative;
                  width: 50%;
                }

                .inputBox2 .inputText {
                  height: 102px;
                  width: 559px;
                  padding-left: 16px;
                  border-radius: 4px;
                  border-color: rgba(0, 0, 0, 0.38);
                  margin-top: 9px;
                  outline: none;
                  border: 1px solid #979797;
                  font-size: 16px;
                }

                .inputBox2 .inputText:focus {
                  border: 1px solid #979797;
                  height: 102px;
                  width: 559px;
                  padding-left: 16px;
                  border-width: 1px;
                  font-size: 16px;
                  color: black;
                }

                .inputBox2 .floating-label {
                  position: absolute;
                  pointer-events: none;
                  top: 30px;
                  left: 20px;
                  transition: 0.2s ease all;
                  font-size: 16px;
                  color: #979797;
                }

                .inputBox2 input:focus~.floating-label,
                .inputBox2 input:not(:focus):valid~.floating-label {
                  width: 62px;
                  height: 24px;
                  padding-left: 2px;
                  background-color: white;
                  color: #979797;
                  top: 0px;
                  left: 15px;
                  font-size: 12px;
                  opacity: 1;
                }
              }

              .field3 {
                @include field();
                margin-top: 18px;
                display: flex;

                .field31 {
                  height: 84px;
                  width: 280px;
                  margin-right: 17px;

                  .inputBox31 {
                    position: relative;
                    width: 50%;
                  }

                  .inputBox31 .inputText {
                    height: 56px;
                    width: 262px;
                    padding-left: 16px;
                    border-radius: 4px;
                    border-color: rgba(0, 0, 0, 0.38);
                    margin-top: 9px;
                    outline: none;
                    border: 1px solid #979797;
                    font-size: 16px;
                  }

                  .inputBox31 .inputText:focus {
                    border: 1px solid #979797;
                    height: 56px;
                    width: 262px;
                    padding-left: 16px;
                    border-width: 1px;
                    font-size: 16px;
                    color: black;
                  }

                  .inputBox31 .floating-label {
                    position: absolute;
                    pointer-events: none;
                    top: 30px;
                    left: 20px;
                    transition: 0.2s ease all;
                    font-size: 16px;
                    color: #979797;
                  }

                  .inputBox31 input:focus~.floating-label,
                  .inputBox31 input:not(:focus):valid~.floating-label {
                    width: 64px;
                    height: 24px;
                    padding-left: 2px;
                    background-color: white;
                    color: #979797;
                    top: 0px;
                    left: 15px;
                    font-size: 12px;
                    opacity: 1;
                  }
                }

                .field32 {
                  height: 84px;
                  width: 280px;

                  .inputBox32 {
                    position: relative;
                    width: 50%;
                  }

                  .inputBox32 .inputText {
                    height: 56px;
                    width: 262px;
                    padding-left: 16px;
                    border-radius: 4px;
                    border-color: rgba(0, 0, 0, 0.38);
                    margin-top: 9px;
                    outline: none;
                    border: 1px solid #979797;
                    font-size: 16px;
                  }

                  .inputBox32 .inputText:focus {
                    border: 1px solid #979797;
                    height: 56px;
                    width: 262px;
                    padding-left: 16px;
                    border-width: 1px;
                    font-size: 16px;
                    color: black;
                  }

                  .inputBox32 .floating-label {
                    position: absolute;
                    pointer-events: none;
                    top: 30px;
                    left: 20px;
                    transition: 0.2s ease all;
                    font-size: 16px;
                    color: #979797;
                  }

                  .inputBox32 input:focus~.floating-label,
                  .inputBox32 input:not(:focus):valid~.floating-label {
                    width: 64px;
                    height: 24px;
                    padding-left: 2px;
                    background-color: white;
                    color: #979797;
                    top: 0px;
                    left: 15px;
                    font-size: 12px;
                    opacity: 1;
                  }
                }
              }

              .field4 {
                @include field();
                margin-top: 18px;

                .inputBox4 {
                  position: relative;
                  width: 50%;
                }

                .inputBox4 .inputText {
                  height: 56px;
                  width: 559px;
                  padding-left: 16px;
                  border-radius: 4px;
                  border-color: rgba(0, 0, 0, 0.38);
                  margin-top: 9px;
                  outline: none;
                  border: 1px solid #979797;
                  font-size: 16px;
                }

                .inputBox4 .inputText:focus {
                  border: 1px solid #979797;
                  height: 56px;
                  width: 559px;
                  padding-left: 16px;
                  border-width: 1px;
                  font-size: 16px;
                  color: black;
                }

                .inputBox4 .floating-label {
                  position: absolute;
                  pointer-events: none;
                  top: 30px;
                  left: 20px;
                  transition: 0.2s ease all;
                  font-size: 16px;
                  color: #979797;
                }

                .inputBox4 input:focus~.floating-label,
                .inputBox4 input:not(:focus):valid~.floating-label {
                  width: 80px;
                  height: 24px;
                  padding-left: 2px;
                  background-color: white;
                  color: #979797;
                  top: 0px;
                  left: 15px;
                  font-size: 12px;
                  opacity: 1;
                }
              }
            }

            .rectangle2 {
              height: 393px;
              width: 580px;
              margin-top: 37px;

              .details {
                @include title();
              }

              .field5 {
                @include field();
                margin-top: 21px;
                display: flex;

                .element1 {
                  margin-left: 0px;
                  @include element51();
                }

                .calendar1 {
                  @include calendar();
                }

                .element2 {
                  margin-left: 19px;
                  @include element51();
                }

                .calendar2 {
                  @include calendar();
                }

                .element3 {
                  margin-left: 19px;
                  height: 84px;
                  width: 180px;

                  .days {
                    color: #979797;
                    margin-top: -40px;
                    font-size: 16px;
                    margin-left: 132px;
                  }

                  .inputBox53 {
                    position: relative;
                    width: 50%;
                  }

                  .inputBox53 .inputText {
                    height: 56px;
                    width: 164px;
                    padding-left: 16px;
                    border-radius: 4px;
                    border-color: rgba(0, 0, 0, 0.38);
                    margin-top: 9px;
                    outline: none;
                    border: 1px solid #979797;
                    font-size: 16px;
                  }

                  .inputBox53 .inputText:focus {
                    border: 1px solid #979797;
                    height: 56px;
                    width: 164px;
                    padding-left: 16px;
                    border-width: 1px;
                    font-size: 16px;
                    color: black;
                  }

                  .inputBox53 .floating-label {
                    width: 81px;
                    height: 24px;
                    background-color: white;
                    position: absolute;
                    top: 0px;
                    left: 17px;
                    transition: 0.2s ease all;
                    font-size: 12px;
                    color: #979797;
                  }

                  .inputBox53 input:focus~.floating-label,
                  .inputBox53 input:not(:focus):valid~.floating-label {
                    width: 92px;
                    height: 24px;
                    background-color: white;
                    color: #979797;
                    top: 0px;
                    left: 17px;
                    font-size: 12px;
                    opacity: 1;
                  }
                }
              }

              .field6 {
                @include field();
                margin-top: 18px;
                display: flex;

                .element4 {
                  height: 84px;
                  width: 280px;

                  .inputBox64 {
                    position: relative;
                    width: 50%;
                  }

                  .inputBox64 .inputText {
                    height: 56px;
                    width: 268px;
                    padding-left: 10px;
                    padding-top: 25px;
                    color: transparent;
                    border-radius: 4px;
                    border-color: rgba(0, 0, 0, 0.38);
                    margin-top: 9px;
                    outline: none;
                    border: 1px solid #979797;
                    font-size: 16px;
                  }

                  .inputBox64 .inputText:focus {
                    border: 1px solid #979797;
                    height: 56px;
                    width: 268px;
                    padding-left: -16px;
                    border-width: 1px;
                    font-size: 16px;
                    color: black;
                  }

                  .inputBox64 .floating-label {
                    width: 126px;
                    height: 18px;
                    background-color: white;
                    position: absolute;
                    top: 0px;
                    left: 17px;
                    transition: 0.2s ease all;
                    font-size: 12px;
                    color: #979797;
                  }

                  .inputBox64 input:focus~.floating-label,
                  .inputBox64 input:not(:focus):valid~.floating-label {
                    width: 126px;
                    height: 18px;
                    background-color: white;
                    color: #979797;
                    top: 0px;
                    left: 17px;
                    //  z-index: 999;
                    font-size: 12px;
                    opacity: 1;
                  }
                }

                .upload1 {
                  @include calendar();
                  margin-left: 230px;
                  margin-top: -20px;
                }

                .element5 {
                  height: 84px;
                  width: 280px;
                  margin-left: 20px;

                  .inputBox65 {
                    position: relative;
                    width: 50%;
                  }

                  .inputBox65 .inputText {
                    height: 56px;
                    width: 268px;
                    padding-left: 10px;
                    padding-top: 25px;
                    color: transparent;
                    border-radius: 4px;
                    border-color: rgba(0, 0, 0, 0.38);
                    margin-top: 9px;
                    outline: none;
                    border: 1px solid #979797;
                    font-size: 16px;
                  }

                  .inputBox65 .inputText:focus {
                    border: 1px solid #979797;
                    height: 56px;
                    width: 268px;
                    padding-left: 10px;
                    border-width: 1px;
                    font-size: 16px;
                    color: black;
                  }

                  .inputBox65 .floating-label {
                    width: 126px;
                    height: 18px;
                    background-color: white;
                    position: absolute;
                    top: 0px;
                    left: 17px;
                    transition: 0.2s ease all;
                    font-size: 12px;
                    color: #979797;
                  }

                  .inputBox65 input:focus~.floating-label,
                  .inputBox65 input:not(:focus):valid~.floating-label {
                    width: 126px;
                    height: 18px;
                    background-color: white;
                    color: #979797;
                    top: 0px;
                    left: 17px;
                    //  z-index: 999;
                    font-size: 12px;
                    opacity: 1;
                  }
                }

                .upload2 {
                  @include calendar();
                  margin-left: 230px;
                  margin-top: -20px;
                }
              }

              .field7 {
                .inputBox7 {
                  position: relative;
                  width: 50%;
                  margin-top: 18px;
                }

                .inputBox7 .inputText {
                  height: 116px;
                  width: 562px;
                  padding-left: 16px;
                  border-radius: 4px;
                  border-color: rgba(0, 0, 0, 0.38);
                  outline: none;
                  border: 1px solid #979797;
                  font-size: 16px;
                }

                .inputBox7 .inputText:focus {
                  border: 1px solid #979797;
                  height: 116px;
                  width: 562px;
                  padding-left: 16px;
                  border-width: 1px;
                  font-size: 16px;
                  color: black;
                }

                .inputBox7 .floating-label {
                  position: absolute;
                  pointer-events: none;
                  top: 30px;
                  left: 20px;
                  transition: 0.2s ease all;
                  font-size: 16px;
                  color: #979797;
                }

                .inputBox7 input:focus~.floating-label,
                .inputBox7 input:not(:focus):valid~.floating-label {
                  width: 55px;
                  height: 24px;
                  padding-left: 2px;
                  background-color: white;
                  color: #979797;
                  top: -9px;
                  left: 15px;
                  //  z-index: 999;
                  font-size: 12px;
                  opacity: 1;
                }
              }
            }
          }
        }

        .right {
          .rectangle3 {
            height: 351px;
            width: 230px;
            margin-left: 30px;
            margin-top: 19px;
            display: flex;

            .leftBar {
              height: 350px;
              width: 2px;
              border-radius: 1px;
              background-color: #D92756;
            }

            .right {
              padding-left: 28px;

              .block1 {
                @include right-block();
              }

              .block2 {
                @include right-block();
                margin-top: 19px;
              }

              .block3 {
                @include right-block();
                margin-top: 19px;
              }

              .block4 {
                @include right-block();
                margin-top: 19px;
              }

              .block5 {
                @include right-block();
                margin-top: 19px;
              }
            }
          }

          .btn-fab {
            height: 51px;
            width: 51px;
            background-color: #D92756;
            margin-left: 207px;
            margin-top: 506px;
            color: white;
            font-size: 30px;
            border-radius: 25px;
            outline: none;
            padding: 0px;
            border: 0px;
          }
        }
      }
    }
  }

  // Footer

  .footer {
    height: 44px;
    width: 1440px;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.02);

    .rectangle {
      height: 44px;
      width: 1440px;
      background-color: rgba(0, 0, 0, 0.02);
      margin-left: 569px;
      padding-top: 12px;
      margin-top: 0px;

      .robosoft-copyright {
        height: 24px;
        width: 352px;
        color: rgba(0, 0, 0, 0.6);
        font-family: Roboto;
        font-size: 16px;
        letter-spacing: 0.15px;
        line-height: 24px;

        .copyright {
          color: black;
        }
      }
    }
  }
}
