<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

<!--<style>
  #options {
    z-index: -1;
    position: absolute;
  }

  #screen {
    position: absolute;
    z-index: -2;
  }
</style>
-->

<div class="options" id="options">
  <a routerLink="/change-password">
    <button class="block1" style="font-family: Roboto;">Change Password</button>
  </a>
  <button class="block2" (click)="superAdmin()" style="font-family: Roboto;">Add/Remove Super Admins</button>
  <button class="block3" (click)="admin()" style="font-family: Roboto;">Add/Remove Admins</button>
  <button class="btn-fab" (click)="disappear()">x</button>
</div>

<div class="screen" id="screen"></div>

<div class="superAdmin" id="superAdmin">

  <img class="close" (click)="close()" src="../../../assets/close icon.png" alt="">
  <p class="text" style="font-family: Roboto;">Add/Remove Super Admins</p>
  <div class="block1">

    <div class="box1">
      <div class="inputBox11">
        <input type="text" class="inputText" style="font-family: Roboto;" required />
        <span class="floating-label" style="font-family: Roboto;">Enter Name</span>
      </div>
    </div>

    <div class="box2">
      <div class="inputBox12">
        <input type="text" class="inputText" style="font-family: Roboto;" required />
        <span class="floating-label" style="font-family: Roboto;">Enter Employee Code</span>
      </div>
    </div>

    <div class="box3">
      <div class="inputBox13">
        <input type="text" class="inputText" style="font-family: Roboto;" required />
        <span class="floating-label" style="font-family: Roboto;">Enter Mail ID</span>
      </div>
    </div>
    <button type="button" class="btn-fab" (click)="myFunction()">+</button>
  </div>
  <div class="bar"></div>
  <div class="block2">

    <div class="field1">
      <p class="detail">Kevin</p>
    </div>

    <div class="field2">
      <p class="detail">RT12345</p>
    </div>

    <div class="field3">
      <p class="mail">kevin@robosoftin.com</p>
    </div>

    <button type="button" class="btn-fab" (click)="myFunction()">
      <img class="binIcon" src="../../../assets/Edit.png" alt="">
    </button>
    <button type="button" class="btn-fab" (click)="myFunction()">
      <img class="binIcon" src="../../../assets/download.png" alt="">
    </button>

  </div>
  <div class="block3">

    <div class="field1">
      <p class="detail">John</p>
    </div>

    <div class="field2">
      <p class="detail">RT23456</p>
    </div>

    <div class="field3">
      <p class="mail">john@robosoftin.com</p>
    </div>

    <button type="button" class="btn-fab" (click)="myFunction()">
      <img class="binIcon" src="../../../assets/Edit.png" alt="">
    </button>
    <button type="button" class="btn-fab" (click)="myFunction()">
      <img class="binIcon" src="../../../assets/download.png" alt="">
    </button>

  </div>

  <div class="buttons">
    <button style="font-family: Roboto;" (click)="update()" class="btn-fab1">Update</button>
    <button style="font-family: Roboto;" (click)="close()" class="btn-fab2">Cancel</button>
  </div>
</div>

<!--Add/Remove Admins-->
<div class="admin" id="admin">

  <img class="close" (click)="close()" src="../../../assets/close icon.png" alt="">
  <p class="text" style="font-family: Roboto;">Add/Remove Admins</p>
  <div class="block1">

    <div class="box1">
      <div class="inputBox11">
        <input type="text" class="inputText" style="font-family: Roboto;" required />
        <span class="floating-label" style="font-family: Roboto;">Enter Name</span>
      </div>
    </div>

    <div class="box2">
      <div class="inputBox12">
        <input type="text" class="inputText" style="font-family: Roboto;" required />
        <span class="floating-label" style="font-family: Roboto;">Enter Employee Code</span>
      </div>
    </div>

    <div class="box3">
      <div class="inputBox13">
        <input type="text" class="inputText" style="font-family: Roboto;" required />
        <span class="floating-label" style="font-family: Roboto;">Enter Mail ID</span>
      </div>
    </div>
    <button type="button" class="btn-fab" (click)="myFunction()">+</button>
  </div>
  <div class="bar"></div>
  <div class="block2">

    <div class="field1">
      <p class="detail">Rob</p>
    </div>

    <div class="field2">
      <p class="detail">RT54321</p>
    </div>

    <div class="field3">
      <p class="mail">rob@robosoftin.com</p>
    </div>

    <button type="button" class="btn-fab" (click)="myFunction()">
      <img class="binIcon" src="../../../assets/Edit.png" alt="">
    </button>
    <button type="button" class="btn-fab" (click)="myFunction()">
      <img class="binIcon" src="../../../assets/download.png" alt="">
    </button>

  </div>
  <div class="block3">

    <div class="field1">
      <p class="detail">Jane</p>
    </div>

    <div class="field2">
      <p class="detail">RT98765</p>
    </div>

    <div class="field3">
      <p class="mail">jane@robosoftin.com</p>
    </div>

    <button type="button" class="btn-fab" (click)="myFunction()">
      <img class="binIcon" src="../../../assets/Edit.png" alt="">
    </button>
    <button type="button" class="btn-fab" (click)="myFunction()">
      <img class="binIcon" src="../../../assets/download.png" alt="">
    </button>

  </div>

  <div class="buttons">
    <button style="font-family: Roboto;" (click)="update()" class="btn-fab1">Update</button>
    <button style="font-family: Roboto;" (click)="close()" class="btn-fab2">Cancel</button>
  </div>
</div>

<!--Container-->
<div class="container" id="container">
  <div class="header">
    <div class="rectangle1">
      <img class="robosoft-logo" src="../../../assets/Robosoft_logo_horizontal.png" alt="">
    </div>
  </div>

  <div class="container">
    <div class="homeScreen">
      <div class="box">
        <div class="box1">

          <p class="yourQuestionnaires" style="font-family: Roboto;">Your Questionnaires</p>
          <button class="btn-fab" style="font-family: Roboto;">New Questionnaire</button>
          <div class="block1">
            <p class="label" style="font-family: Roboto;">Secure coding Guidel...</p>
          </div>
          <div class="block2">
            <p class="text1">ISMS Questionnaire</p>
            <img src="../../../assets/ic_arrow_forward.png" class="arrow" alt="">
          </div>

          <div class="block3">
            <p class="text1">PA Questionnaire</p>
            <img src="../../../assets/ic_arrow_forward.png" class="arrow" alt="">
          </div>

          <div class="block4">
            <p class="text1">Process Guidelines</p>
            <img src="../../../assets/ic_arrow_forward.png" class="arrow" alt="">
          </div>

        </div>

        <div class="box2">
          <div class="left">
            <div class="rectangle1">
              <p class="questionnaire" style="font-family: Roboto;">Questionnaire</p>

              <div class="field1">
                <div class="inputBox1">
                  <input type="text" class="inputText" style="font-family: Roboto;" required />
                  <span class="floating-label" style="font-family: Roboto;">Enter Title</span>
                </div>
                <p class="title" style="font-family: Roboto;">Please enter appropriate title</p>
              </div>

              <div class="field2">
                <div class="inputBox2">
                  <input type="text" class="inputText" style="font-family: Roboto;" required />
                  <span class="floating-label" style="font-family: Roboto;">Description</span>
                </div>
              </div>

              <div class="field3">
                <div class="field31">
                  <div class="inputBox31">
                    <input type="text" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Button Title</span>
                  </div>
                </div>

                <div class="field32">
                  <div class="inputBox32">
                    <input type="text" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Button Text</span>
                  </div>
                </div>

              </div>

              <div class="field4">
                <div class="inputBox4">
                  <input type="text" class="inputText" style="font-family: Roboto;" required />
                  <span class="floating-label" style="font-family: Roboto;">Check box text</span>
                </div>
              </div>

            </div>
            <div class="rectangle2">
              <p class="details" style="font-family: Roboto;">Additional Details</p>
              <div class="field5">
                <div class="element1">
                  <div class="inputBox51">
                    <input type="date" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Select Start Date</span>
                  </div>
                  <img class="calendar" src="../../../assets/datepicker calendar icon.png" alt="">
                </div>
                <div class="element2">
                  <div class="inputBox52">
                    <input type="date" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Select End Date</span>
                  </div>
                </div>
                <div class="element3">
                  <div class="inputBox53">
                    <input type="text" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Auto Reminder</span>
                    <p class="days">Days</p>
                  </div>
                </div>
              </div>
              <div class="field6">
                <div class="element4">
                  <div class="inputBox64">
                    <input type="file" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Select Content PPT File</span>
                  </div>
                </div>
                <div class="element5">
                  <div class="inputBox65">
                    <input type="file" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Select Content PPT File</span>
                  </div>
                </div>
              </div>
              <div class="field7">
                <div class="inputBox7">
                  <input type="text" class="inputText" style="font-family: Roboto;" required />
                  <span class="floating-label" style="font-family: Roboto;">Mail Body</span>
                </div>
              </div>
            </div>
          </div>

          <div class="right">
            <div class="rectangle3">
              <div class="leftBar"></div>
              <div class="right">
                <div class="block1">
                  <img class="image" src="../../../assets/ic_save.png" alt="">
                  <p class="text">SAVE</p>
                </div>
                <div class="block2">
                  <img class="image" src="../../../assets/ic_preview.png" alt="">
                  <p class="text">PREVIEW</p>
                </div>
                <div class="block3">
                  <img class="image" src="../../../assets/ic_publish.png" alt="">
                  <p class="text">PUBLISH</p>
                </div>
                <div class="block4">
                  <img class="image" src="../../../assets/ic_reminder.png" alt="">
                  <p class="text">REMIND</p>
                </div>
                <div class="block5">
                  <img class="image" src="../../../assets/ic_report.png" alt="">
                  <p class="text">GENERATE REPORT</p>
                </div>
              </div>
            </div>
            <button type="button" class="btn-fab" (click)="options()">+</button>

          </div>
        </div>
      </div>

      <div class="footer">
        <div class="rectangle">
          <div class="robosoft-copyright">
            <p class="copyright">Robosoft. Copyright © 2020. All rights reserved.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
