<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

<div class="container">
  <div class="header">
    <div class="rectangle">
      <img class="robosoft-logo-horizontal-img-r" src="../../../assets/Robosoft_logo_horizontal.png" alt="">
    </div>
  </div>

  <div class="container">

    <div class="homeScreen">

      <div class="box">
        <div class="box1">

          <p class="yourQuestionnaires" style="font-family: Roboto;">Your Questionnaires</p>
          <button class="btn-fab" style="font-family: Roboto;">New Questionnaire</button>
          <div class="block1">
            <p class="label" style="font-family: Roboto;">Secure coding Guidel...</p>
          </div>
          <div class="block2">
            <p class="text1">ISMS Questionnaire</p>
            <img src="../../../assets/ic_arrow_forward.png" class="arrow" alt="">
          </div>

          <div class="block3">
            <p class="text1">PA Questionnaire</p>
            <img src="../../../assets/ic_arrow_forward.png" class="arrow" alt="">
          </div>

          <div class="block4">
            <p class="text1">Process Guidelines</p>
            <img src="../../../assets/ic_arrow_forward.png" class="arrow" alt="">
          </div>

        </div>

        <div class="box2">
          <div class="left">
            <div class="rectangle1">
              <p class="questionnaire" style="font-family: Roboto;">Questionnaire</p>

              <div class="field1">
                <div class="inputBox1">
                  <input type="text" class="inputText" style="font-family: Roboto;" required />
                  <span class="floating-label" style="font-family: Roboto;">Enter Title</span>
                </div>
                <p class="title" style="font-family: Roboto;">Please enter appropriate title</p>
              </div>

              <div class="field2">
                <div class="inputBox2">
                  <input type="text" class="inputText" style="font-family: Roboto;" required />
                  <span class="floating-label" style="font-family: Roboto;">Description</span>
                </div>
              </div>

              <div class="field3">
                <div class="field31">
                  <div class="inputBox31">
                    <input type="text" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Button Title</span>
                  </div>
                </div>

                <div class="field32">
                  <div class="inputBox32">
                    <input type="text" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Button Text</span>
                  </div>
                </div>

              </div>

              <div class="field4">
                <div class="inputBox4">
                  <input type="text" class="inputText" style="font-family: Roboto;" required />
                  <span class="floating-label" style="font-family: Roboto;">Check box text</span>
                </div>
              </div>

            </div>
            <div class="rectangle2">
              <p class="details" style="font-family: Roboto;">Additional Details</p>
              <div class="field5">
                <div class="element1">
                  <div class="inputBox51">
                    <input type="date" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Select Start Date</span>
                  </div>
                </div>
                <div class="element2">
                  <div class="inputBox52">
                    <input type="date" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Select End Date</span>
                  </div>
                </div>
                <div class="element3">
                  <div class="inputBox53">
                    <input type="text" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Auto Reminder</span>
                    <p class="days">Days</p>
                  </div>
                </div>
              </div>
              <div class="field6">
                <div class="element4">
                  <div class="inputBox64">
                    <input type="text" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Select Content PPT File</span>
                  </div>
                </div>
                <div class="element5">
                  <div class="inputBox65">
                    <input type="text" class="inputText" style="font-family: Roboto;" required />
                    <span class="floating-label" style="font-family: Roboto;">Select Content PPT File</span>
                  </div>
                </div>
              </div>
              <div class="field7">
                <div class="inputBox7">
                  <input type="text" class="inputText" style="font-family: Roboto;" required />
                  <span class="floating-label" style="font-family: Roboto;">Mail Body</span>
                </div>
              </div>
            </div>
          </div>

          <div class="right">
            <div class="rectangle3">
              <div class="leftBar"></div>
              <div class="right">
                <div class="block1">
                  <img class="image" src="../../../assets/ic_save.png" alt="">
                  <p class="text">SAVE</p>
                </div>
                <div class="block2">
                  <img class="image" src="../../../assets/ic_preview.png" alt="">
                  <p class="text">PREVIEW</p>
                </div>
                <div class="block3">
                  <img class="image" src="../../../assets/ic_publish.png" alt="">
                  <p class="text">PUBLISH</p>
                </div>
                <div class="block4">
                  <img class="image" src="../../../assets/ic_reminder.png" alt="">
                  <p class="text">REMIND</p>
                </div>
                <div class="block5">
                  <img class="image" src="../../../assets/ic_report.png" alt="">
                  <p class="text">GENERATE REPORT</p>
                </div>
              </div>
            </div>
            <button class="btn-fab">+</button>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="rectangle">
          <div class="robosoft-copyright">
            <p class="copyright">Robosoft. Copyright © 2020. All rights reserved.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
