<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" type="text/css">


<div class="container">
  <div class="header">
    <div class="rectangle">
      <img class="robosoft-logo-horizontal-img-r" src="../../../assets/Robosoft_logo_horizontal.png" alt="">
    </div>
  </div>
  <div class="loginBox">
    <h1 class="login" style="font-family: Inter;">Login</h1>
    <input placeholder="Enter Username" type="text" class="inputBox1" style="font-family: Roboto;">
    <input placeholder="Enter Password" type="password" class="inputBox2" style="font-family: Roboto;">
    <button class="btn-fab" style="font-family: Roboto;">Login</button>
    <p class="forgot-password" style="font-family: Roboto;">Forgot password?</p>
  </div>
</div>
